<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.admin.wallet.mapper.WalletAccountMapper">

    <!--    <select id="insert" parameterType="User">-->
    <!--        select * from user where t_id = #{tid} and t_password = #{tpassword}-->
    <!--    </select>-->

    <insert id="insert" parameterType="WalletAccount">
        insert into waa_wallet_account values(#{buyer_id}, #{account_name}, #{email}, #{password}, #{active_time}, #{is_active},
        #{status}, #{create_by}, #{create_time}, #{last_update_by}, #{last_update_time}, #{account_type},
        #{hold_order_time}, #{auto_pay_status})
    </insert>


    <update id="update" parameterType="WalletAccount">
        update waa_wallet_account set account_name = #{account_name},email = #{email},password = #{password},
         active_time= #{active_time} ,is_active = #{is_active},status = #{status},create_by = #{create_by}
         ,create_time = #{create_time} ,last_update_by = #{last_update_by},last_update_time = #{last_update_time}
         ,account_type= #{account_type},hold_order_time = #{hold_order_time},auto_pay_status = #{auto_pay_status}
          where buyer_id = #{buyer_id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from waa_wallet_account where buyer_id = #{buyer_id}
    </delete>

    <select id="getById" parameterType="java.lang.Integer" resultType="WalletAccount" >
        select * from waa_wallet_account where buyer_id = #{buyer_id}
    </select>

    <select id="getAll" resultType="WalletAccount">
        select * from waa_wallet_account
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultType="WalletAccount">
        select * from waa_wallet_account where buyer_id = #{buyer_id}
    </select>

</mapper>