<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.dao.governmentAreaMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.bsp.model.governmentArea">
    <constructor>
      <arg column="GOA_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ZIP_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STATE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STATE_SHORTHAND" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CITY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATED_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATION_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LAST_UPDATE_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CALL_CNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="LAST_UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STS_CD" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.neusoft.bsp.model.governmentArea">
    insert into goa_government_area (GOA_ID, ZIP_CODE, STATE, 
      STATE_SHORTHAND, CITY, CREATED_BY, 
      CREATION_DATE, LAST_UPDATE_BY, CALL_CNT, 
      LAST_UPDATE_DATE, REMARK, STS_CD
      )
    values (#{goaId,jdbcType=INTEGER}, #{zipCode,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{stateShorthand,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{callCnt,jdbcType=INTEGER}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{stsCd,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bsp.model.governmentArea">
    insert into goa_government_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goaId != null">
        GOA_ID,
      </if>
      <if test="zipCode != null">
        ZIP_CODE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="stateShorthand != null">
        STATE_SHORTHAND,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="callCnt != null">
        CALL_CNT,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="stsCd != null">
        STS_CD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goaId != null">
        #{goaId,jdbcType=INTEGER},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="stateShorthand != null">
        #{stateShorthand,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="callCnt != null">
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        #{stsCd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>