<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.dao.imageMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.bsp.model.image">
    <constructor>
      <arg column="IMG_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="WIDTH" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="HEIGHT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="URI" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TYPE_CD" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="ENTITY_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ENTITY_CD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SEQ_NO" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CREATED_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATION_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LAST_UPDATE_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LAST_UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CALL_CNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STS_CD" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.neusoft.bsp.model.image">
    insert into img_image (IMG_ID, NAME, WIDTH, 
      HEIGHT, URI, TYPE_CD, ENTITY_ID, 
      ENTITY_CD, SEQ_NO, CREATED_BY, 
      CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, 
      CALL_CNT, REMARK, STS_CD
      )
    values (#{imgId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{width,jdbcType=INTEGER}, 
      #{height,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{typeCd,jdbcType=CHAR}, #{entityId,jdbcType=INTEGER}, 
      #{entityCd,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, 
      #{callCnt,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{stsCd,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bsp.model.image">
    insert into img_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        IMG_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="width != null">
        WIDTH,
      </if>
      <if test="height != null">
        HEIGHT,
      </if>
      <if test="uri != null">
        URI,
      </if>
      <if test="typeCd != null">
        TYPE_CD,
      </if>
      <if test="entityId != null">
        ENTITY_ID,
      </if>
      <if test="entityCd != null">
        ENTITY_CD,
      </if>
      <if test="seqNo != null">
        SEQ_NO,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="callCnt != null">
        CALL_CNT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="stsCd != null">
        STS_CD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="typeCd != null">
        #{typeCd,jdbcType=CHAR},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="entityCd != null">
        #{entityCd,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null">
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        #{stsCd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>