<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.dao.productDescritionMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.bsp.model.productDescrition">
    <constructor>
      <arg column="PDN_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PRO_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="TYPE_CD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATED_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATION_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LAST_UPDATE_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LAST_UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CALL_CNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STS_CD" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.neusoft.bsp.model.productDescrition">
    <constructor>
      <arg column="PDN_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PRO_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="TYPE_CD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATED_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATION_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LAST_UPDATE_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LAST_UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CALL_CNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STS_CD" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="DESCRITION" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Blob_Column_List">
    DESCRITION
  </sql>
  <insert id="insert" parameterType="com.neusoft.bsp.model.productDescrition">
    insert into pdn_product_descrition (PDN_ID, PRO_ID, TYPE_CD, 
      CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, 
      LAST_UPDATE_DATE, CALL_CNT, REMARK, 
      STS_CD, DESCRITION)
    values (#{pdnId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, #{typeCd,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP}, #{callCnt,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{stsCd,jdbcType=CHAR}, #{descrition,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bsp.model.productDescrition">
    insert into pdn_product_descrition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pdnId != null">
        PDN_ID,
      </if>
      <if test="proId != null">
        PRO_ID,
      </if>
      <if test="typeCd != null">
        TYPE_CD,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="callCnt != null">
        CALL_CNT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="stsCd != null">
        STS_CD,
      </if>
      <if test="descrition != null">
        DESCRITION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pdnId != null">
        #{pdnId,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="typeCd != null">
        #{typeCd,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null">
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        #{stsCd,jdbcType=CHAR},
      </if>
      <if test="descrition != null">
        #{descrition,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>