<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.dao.salesOrderLineItemMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.bsp.model.salesOrderLineItem">
    <constructor>
      <arg column="SAL_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CREATED_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATION_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LAST_UPDATE_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LAST_UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CALL_CNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STS_CD" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="SAO_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PRO_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="QTY" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PRICE" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="SOL_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="TRACKING_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="WSP_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.neusoft.bsp.model.salesOrderLineItem">
    insert into sal_sales_order_line_item (SAL_ID, CREATED_BY, CREATION_DATE, 
      LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, 
      REMARK, STS_CD, SAO_ID, 
      PRO_ID, QTY, PRICE, 
      SOL_ID, TRACKING_NO, WSP_NAME
      )
    values (#{salId,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{callCnt,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{stsCd,jdbcType=CHAR}, #{saoId,jdbcType=INTEGER}, 
      #{proId,jdbcType=INTEGER}, #{qty,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{solId,jdbcType=INTEGER}, #{trackingNo,jdbcType=VARCHAR}, #{wspName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bsp.model.salesOrderLineItem">
    insert into sal_sales_order_line_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="salId != null">
        SAL_ID,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="callCnt != null">
        CALL_CNT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="stsCd != null">
        STS_CD,
      </if>
      <if test="saoId != null">
        SAO_ID,
      </if>
      <if test="proId != null">
        PRO_ID,
      </if>
      <if test="qty != null">
        QTY,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="solId != null">
        SOL_ID,
      </if>
      <if test="trackingNo != null">
        TRACKING_NO,
      </if>
      <if test="wspName != null">
        WSP_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="salId != null">
        #{salId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null">
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        #{stsCd,jdbcType=CHAR},
      </if>
      <if test="saoId != null">
        #{saoId,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="solId != null">
        #{solId,jdbcType=INTEGER},
      </if>
      <if test="trackingNo != null">
        #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="wspName != null">
        #{wspName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>