<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.dao.specifiAttributeMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.bsp.model.specifiAttribute">
    <constructor>
      <arg column="SPA_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PRO_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="NAME_EN" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NAME_CN" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SEQ_NO" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CREATED_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATION_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LAST_UPDATE_BY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LAST_UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CALL_CNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STS_CD" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.neusoft.bsp.model.specifiAttribute">
    insert into spa_specific_attribute (SPA_ID, PRO_ID, NAME_EN, 
      NAME_CN, SEQ_NO, CREATED_BY, 
      CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, 
      CALL_CNT, REMARK, STS_CD
      )
    values (#{spaId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, #{nameEn,jdbcType=VARCHAR}, 
      #{nameCn,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, 
      #{callCnt,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{stsCd,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bsp.model.specifiAttribute">
    insert into spa_specific_attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spaId != null">
        SPA_ID,
      </if>
      <if test="proId != null">
        PRO_ID,
      </if>
      <if test="nameEn != null">
        NAME_EN,
      </if>
      <if test="nameCn != null">
        NAME_CN,
      </if>
      <if test="seqNo != null">
        SEQ_NO,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="callCnt != null">
        CALL_CNT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="stsCd != null">
        STS_CD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spaId != null">
        #{spaId,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null">
        #{nameCn,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null">
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        #{stsCd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>